# Django
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3
db.sqlite3-journal
media/
staticfiles/

# Environ
.env

# Docker
.dockerignore

# IDEs
.vscode/
.idea/

# OS
.DS_Store
thumbs.db

# Project specific
backend/db.sqlite3
vitals-check/
node_modules/
